@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    background-color: lightgrey;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 70px;
    text-align: center;
    color: #005e57;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

h1:hover{
    font-size: 70px;
    text-align: center;
    color: #ffffff;
    text-shadow: -1px -1px 0 #005e57, 1px -1px 0 #005e57, -1px 1px 0 #005e57, 1px 1px 0 #005e57;
}

.city-label{
    font-size: 11px;
    text-anchor: middle;
}

circle:hover{
    fill: lightslategrey;
    stroke: white
}
